﻿@using Microsoft.AspNetCore.Identity
@using VOD.Common.Entities
@inject SignInManager<VODUser> SignInManager
@inject UserManager<VODUser> UserManager

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Pages" asp-action="Index">Dashborad</a>
    </li>
}
