﻿@model VOD.Admin.ViewModel.BookViewModel
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;
@using X.PagedList;

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h2>Index</h2>
    <div class="row">
        <div class="col-md-12">
            @Html.PagedListPager((IPagedList)this.Model.Books, page => Url.Action("BookList", "Book", new { id = page, authId = this.Model.Author_ID}), new PagedListRenderOptions
            { LiElementClasses = new string[] { "page-item" }, PageClasses = new string[] { "page-link" } })
        </div>
    </div>
    <p style="float:left">
        >
        <a asp-action="Create">Create New</a>
    </p>
    <div class="card" style="float:right;margin-left:200px;width: 20rem;">
        <div class="card-header">
            絞り込み検索
        </div>
        <div class="card-body">
            <form asp-action="BookList" asp-route-id="Book.Author_ID">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group dropdown">
                    <label asp-for="Book.Author.Name" class="control-label"></label>
                    <select asp-for="Book.Author_ID" asp-items="@Model.AuthorsList" class="form-control">
                        <option value="authId">選択してください</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </form>
            @*<label asp-for="Book.Author.Name" class="control-label"></label>
            <select asp-for="Book.Author_ID" asp-items="@Model.AuthorsList" class="form-control">
                <option value="">選択してください</option>
            </select>
            <input type="submit" asp-action="BookList" value="Search" class="btn btn-primary" asp-route-id="Book.Author_ID" />*@
        </div>
    </div>
    <p style="float:left;margin-left:200px">

        @*<div class="form-inline">
                <label asp-for="Book.Author.Name" class="control-label"></label>
                <select asp-for="Book.Author_ID" asp-items="@Model.AuthorsList" class="form-control">
                    <option value="">選択してください</option>
                </select>
                <a href="#" class="btn btn-primary">検索</a>
            </div>*@
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(vm => vm.Book.Title)</th>
                <th>@Html.DisplayNameFor(vm => vm.Book.Price)</th>
                <th>@Html.DisplayNameFor(vm => vm.Book.Publisher)</th>
                <th>@Html.DisplayNameFor(vm => vm.Book.Sample)</th>
                <th>@Html.DisplayNameFor(vm => vm.Book.ReleaseDate)</th>
                <th>@Html.DisplayNameFor(vm => vm.Book.Author.Name)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Books)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td>@Html.DisplayFor(modelItem => item.Publisher)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sample)</td>
                    <td>@Html.DisplayFor(modelItem => item.ReleaseDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Author.Name)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
