﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model VOD.Admin.ViewModel.BookViewModel
@{
    ViewData["Title"] = "Delete";
}

<h2>確認画面</h2>
<h3>このデータを削除しますがよろしいですか？</h3>
<div>
    <h4>Book</h4>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Book.ID" />
        <input type="hidden" asp-for="Book.RowVersion" />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(vm => vm.Book.Title)
            </dt>
            <dd>
                @Html.DisplayFor(vm => vm.Book.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(vm => vm.Book.Price)
            </dt>
            <dd>
                @Html.DisplayFor(vm => vm.Book.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(vm => vm.Book.Publisher)
            </dt>
            <dd>
                @Html.DisplayFor(vm => vm.Book.Publisher)
            </dd>

            <dt>
                @Html.DisplayNameFor(vm => vm.Book.Sample)
            </dt>
            <dd>
                @Html.DisplayFor(vm => vm.Book.Sample)
            </dd>
            <dt>
                @Html.DisplayNameFor(vm => vm.Book.ReleaseDate)
            </dt>
            <dd>
                @Html.DisplayFor(vm => vm.Book.ReleaseDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(vm => vm.Book.Author.Name)
            </dt>
            <dd>
                @Html.DisplayFor(vm => vm.Book.Author.Name)
            </dd>
        </dl>
        <div class=" btn-group-vertical">
            <div class="form-group">
                <input type="submit" value="Yes" class="btn btn-primary" />
                <input type="submit" asp-action="BookList" value="No" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
