﻿.login-register {
    margin-top: 40px;
}
    .login-register .form-control {
        padding-left: 35px;
        border-radius: 0;
    }

    .login-register .material-icons {
        position: absolute;
        padding: 8px
    }

    .login-register .form-group:hover .material-icons,
    .login-register .form-group:hover ::placeholder {
        color: #2580db;
        opacity: 1
    }
